#dropDown {
    transform: translateY(-100%);
    transition: 1s;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9999;
}
#catListBox {
    width: 100vw;
    overflow-x:hidden;
}