#top-navbar {
    background-color: black;
    width: 100vw;
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
    font-size: 1.2vh;
    font-weight: 600;
    padding: 0px 2.5%;
    height: 2.7vh;
    user-select: none;

}

#top-left {
    display: flex;
    width: 50vw;
    min-width: calc(fit-content + 10%);
    letter-spacing: .05vw;
}

#top-right #top-icon {
    font-size: 2vh;
}

#top-cat {
    display: flex;
    margin-right: 7vw;
    width: fit-content;
    white-space: nowrap;
    justify-content: center;
    align-items: center;
    color: white;
}

#top-text {
    margin-left: 0.5vw;
    user-select: all;
    cursor: pointer;
}

#top-text::selection {
    color: rgb(187, 184, 184);
    background: rgba(255, 255, 255, 0);
}

#top-icon {
    font-size: 1.5vh;
}

.nav-icon {
    font-size: 2.2vh;
    transition: color .2s ease-in-out;
}

.nav-icon:hover {
    scale: 1.1;
    cursor: pointer;
    color: black;
}

#navbar {    
    display: flex;
    position: static;
    align-items: center;
    width: 100vw;
    height: 7vh;
    background-color: rgb(241, 241, 241);
    border-bottom: .1vh solid rgb(192, 192, 192);
    padding: 0 1%;
    user-select: none;
}

#nav-logo {
    height: 6.5vh;
    -webkit-user-drag: none;
}

#nav-links {
    display: flex;
    align-items: center;
    height: 100%;
    width: 100%;
    min-width: 50vw;
    max-width: 1000px;
    letter-spacing: .5vw;
    border-left: .1vw solid rgb(192, 192, 192);
    justify-content: space-around;
    font-weight: 700;
    font-size: 1.5vh;
}

.nav-link {
    cursor: pointer;
    border-right: .1vw solid rgb(192, 192, 192);
    border-left: .1vw solid rgb(192, 192, 192);
    padding: 0% 1% 0% 2%;
    transition: transform .3s, border .3s, text-shadow .3s;
}

.nav-link:hover {
    transform: scale(1.02);
    border-left: .1vw solid black;
    border-right: .1vw solid black;
    text-shadow: 0px 0px 1px black;
}

#nav-splitleft {
    width: 80vw;
    height: 100%;
    display: flex;
    align-items: center;
}

#nav-split {
    width: 20vw;
    display: flex;
    justify-content: right;
}

#nav-socs {
    display: flex;
    width: 15vw;
    min-width: 150px;
    justify-content: space-around;
    height: 100%;
}


@media only screen and (max-width: 1000px) {

    #nav-links,
    #top-navbar,
    #nav-split {
        display: none;
    }

    #nav-splitleft {
        width: 100%;
        justify-content: center;
        padding: 0 5vw;
    }

}

#logoLink {
    margin-right: 1%;
}